<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key, height: 300, crop: :fill) : asset_path( 'movie-theater.jpg')%>)">
  <div class="container">
    <h1><%= @list.name %></h1>
    <span class="badge badge-pill badge-success"><%=pluralize( @list.bookmarks.all.count, 'movie' )%><% %> </span>
  </div>
</div>
<div class="container mt-3" >
  <div class="container-fluid">
      <h2>My list</h2>
      <div>
        <%= simple_form_for [@list, @bookmark] do |f|%>
        <%= f.input :comment, error: 'Comment is mandatory, please specify one'%>
        <%= f.association :movie, as: :select, error: 'Movie is mandatory, please specify one' %>
        <%= f.submit 'Add a bookmark',class: 'btn btn-success' %>
        <% end %>
      </div>
  </div>
  <div class="container mt-3">
  <% @list.bookmarks.all.each do |bookmark|%>
  <div class="card-movie">
    <%= image_tag bookmark.movie.poster_url, alt: "movie poster", width: 200 %>
    <div class="card-movie-infos">
      <div>
        <h2><%= bookmark.movie.title %></h2>
        <span>Rating :<%= bookmark.movie.rating %></span>
        <p><%= bookmark.movie.overview %></p>
      </div>
    </div>
    <div class="footer">
        <%= bookmark.comment %>
              <%= link_to "Delete Bookmark", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'red'%>
      </div>
  </div>
  <% end %>
